html {
    font-size: 10px;
}

body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.6rem;
}

.wrapper {
    color: #222222;
    max-width: 450px;
    margin: auto;
    border: 0px solid red;
    height: 600px;
    padding: 10px;
}

.todolist__title {
    color: coral;
    font-size: 3.6rem;
    font-weight: 700;
    cursor: pointer;
    & a {
        text-decoration: none;
        color: inherit;
    }
}

.input-container {
    padding: 15px 0px;
    ::placeholder {
      opacity: 0.3;
    }
}

.todolist__input {
    font-size: 1.8rem;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    transition: border-color .2s ease;
}

.todolist__input:focus {
    border-color: coral;
}
 
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
// input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
// input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
// input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
// input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
// input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
// input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
// input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.todolist__content {
    background-color: rgba(255,127,80, 0.1);
    padding: 10px 0px;
    border-top: 2px solid coral;
    border-bottom: 2px solid coral;
    border-radius: 10px;
    height: 400px;
    overflow-y: scroll;
}

.todolist__content::-webkit-scrollbar {
    width:0px;
}

.task {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    word-break: break-all;
    display: flex;
    border-bottom: 1px solid black;
    padding: 5px 5px;
    align-items: center;
}

.task-selected {
    box-shadow: 0px 0px 4px 2px rgba(221, 32, 32, 0.75);
}

.checkbox, .basket {
    min-width: 25px;
    min-height: 25px;
}

.checkbox {
    border-radius: 50%;
    transition: background-color .3s ease;
}

.task:hover {
    .checked {
        background-color: #FFEDE6;
    }
    
    .unchecked {
        background-color: #FFE7E6;
    }
}

.checkbox img, .basket img{
    vertical-align: middle;
}

.task__text {
    width: 100%;
    padding: 0px 10px;
}

.task__text:hover {
    cursor: default;
}

.todolist__toolbar {
    padding: 10px;
    padding-top: 13px;
}

.buttons-block {
    padding-top: 10px;
    display: flex;
}

.buttons-block__button {
    margin-right: 5px;
    outline: none;
    cursor: pointer;
    border: 1px solid coral;
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px;
    transition: background-color .3s ease, color .2s ease;
}

.buttons-block__button:hover {
    background-color: #FFEDE6;
}

.buttons-block__button_delete {
    margin-left: auto;
    border: 1px solid #FF6C67;
}

.buttons-block__button_delete:hover {
    background-color: #FFE7E6;
}

.buttons-block__button_fill {
    background-color: coral;
    color: white;
}

.buttons-block__button_fill:hover {
    background-color: coral;
}

.buttons-block__button_fill_r {
    background-color: #FF504A;
    color: white;
}

.buttons-block__button_fill_r:hover {
    color: black;
}

.text-throught {
    text-decoration: line-through;
} 
.todoitem__addinfo {
    width: 25px;
    padding: 0px 0.8rem;
    img {
        width: 20px;
    }
}

.additional-info__wrapper {
    max-width: 450px;
    margin: auto;
    margin-top: 20px;
}

.additional-info__back-button {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 36px;
    background-color: #FF7F50;
    border-radius: 30px;
}

.back-button__arrow {
    width: 15px;
    height: 15px;
    border-top: 5px solid ;
    border-right: 5px solid ;
    border-radius: 3px;
    transform: rotate(225deg) translate(-4px, +4px);
}

.additional-info__data {
    margin-top: 20px;
    padding: 5px 10px;
    height: auto;
    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
    }
    table td {
        border-bottom: 1px solid black;
        padding: 15px 0;
        vertical-align: top;
    }
}

.additional-info__toolbuttons {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
}

.change_deal_block {
    display: flex;  
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.2);
}

.change_deal_block__wrapper {
    opacity: 1;
}

.change_deal__title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-weight: 700;
}

.change_deal__exit {
    img {
        width: 15px;
        height: 15px;
    }
}

.change_deal {
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 100px;
    transform: translateX(-50%);
    transition: translateY .3s ease-out;
    
}

.modal-enter {
    transform: translateY(-300px);
}

.modal-enter-active {
    transform: translateY(0px);
    transition: translateY 3s ease-out;
}

.modal-leave {
    transform: translateY(0px);
}

.modal-leave-active {
    transform: translateY(-300px);
    transition: translateY 3s ease-in;
}

.bgModal-enter {
    opacity: 0;
}

.bgModal-enter-active {
    opacity: 1;
    transition: opacity 3s ease-in;
}

.bgModal-leave {
    opacity: 1;
}

.bgModal-leave-active {
    opacity: 0;
    transition: opacity 3s ease-out;
}

.change_deal__input {
    padding: 0 0 10px 0;
    input {
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
    }
}

.change_deal__button {
    button {
        border: 0;
        background-color: rgb(39,231,154);
        border-radius: 5px;
        cursor: pointer;
        outline:none;
        text-decoration: none;
        padding: 5px 15px;
        transition: box-shadow .3s ease;
    }
    button:hover {
        background-color: rgb(70,231,167);
        box-shadow: 0 0 7px 2px black;
    }
}

.change_deal__exit {
    cursor: pointer;
}

// @keyframes onShowModal {
//     from {
//         top: -300px;
//     }
//     to {
//         top: 100px;
//     }
// }

// @keyframes onHideModal {
//     from {
//         top: 100px;
//     }
//     to {
//         top: -300px;
//     }
// }

// .onShowBg {
//     animation-name: onShowBg;
//     animation-duration: .3s;
//     animation-timing-function: ease-out;
// }

// .onHideBg {
//     animation-name: onShowBg;
//     animation-duration: .3s;
//     animation-timing-function: ease-in;
// }

// @keyframes onShowBg {
//     from {
//         opacity: 0;
//     }
//     to {
//         opacity: 1;
//     }
// }

// @keyframes onHideBg {
//     from {
//         opacity: 1;
//     }
//     to {
//         opacity: 0;
//     }
// }